<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubble.gmall.user.mapper.PmsBaseCatalog2Mapper">
  <resultMap id="BaseResultMap" type="com.bubble.gmall.bean.PmsBaseCatalog2">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="catalog1_id" jdbcType="INTEGER" property="catalog1Id" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pms_base_catalog2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bubble.gmall.bean.PmsBaseCatalog2">
    insert into pms_base_catalog2 (id, name, catalog1_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{catalog1Id,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bubble.gmall.bean.PmsBaseCatalog2">
    update pms_base_catalog2
    set name = #{name,jdbcType=VARCHAR},
      catalog1_id = #{catalog1Id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, catalog1_id
    from pms_base_catalog2
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, catalog1_id
    from pms_base_catalog2
  </select>
</mapper>