<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubble.gmall.user.mapper.WmsWareOrderTaskDetailMapper">
  <resultMap id="BaseResultMap" type="com.bubble.gmall.bean.WmsWareOrderTaskDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="sku_nums" jdbcType="INTEGER" property="skuNums" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wms_ware_order_task_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bubble.gmall.bean.WmsWareOrderTaskDetail">
    insert into wms_ware_order_task_detail (id, sku_id, sku_name, 
      sku_nums, task_id, sku_num
      )
    values (#{id,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{skuName,jdbcType=VARCHAR}, 
      #{skuNums,jdbcType=INTEGER}, #{taskId,jdbcType=BIGINT}, #{skuNum,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bubble.gmall.bean.WmsWareOrderTaskDetail">
    update wms_ware_order_task_detail
    set sku_id = #{skuId,jdbcType=BIGINT},
      sku_name = #{skuName,jdbcType=VARCHAR},
      sku_nums = #{skuNums,jdbcType=INTEGER},
      task_id = #{taskId,jdbcType=BIGINT},
      sku_num = #{skuNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, sku_id, sku_name, sku_nums, task_id, sku_num
    from wms_ware_order_task_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sku_id, sku_name, sku_nums, task_id, sku_num
    from wms_ware_order_task_detail
  </select>
</mapper>